# Environments
venv/
.venv/
env/
.env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS X
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project specific
data/raw/*
!data/raw/.gitkeep
data/raw_live/
data/processed/*
!data/processed/.gitkeep
data/models/*
!data/models/.gitkeep

# Testing and coverage
.pytest_cache/
htmlcov/
.coverage

# Build and distribution
*.egg-info/
dist/
build/

# Types
.mypy_cache/

# Logs
*.log
!data/models/model_status.json
!data/models/.gitkeep

# Local caches created by libraries
catboost_info/
Library/
.keras/
.matplotlib/
logs/

